body {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #9370DB;
    padding: 20px;
    color: white;
    text-align: right;
}

.header h1 {
    font-size: 32px;
    text-align: center;
}

.header button {
    margin-left: 10px;
}

.carousel-item img {
    height: 33.33%;
    width: 33.33%;
    object-fit: cover;
}

.footer {
    background-color: #9370DB;
    padding: 10px;
    text-align: center;
    color: white;
    margin-top: auto;
}

.card-text {
    margin-bottom: 0;
    text-align: right;
}

